<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
</head>
<body>

<h1>Login Page</h1>
<h2>Welcome to the login page. If you've already had an account, please login:</h2>
<form action="/" method="POST">
    <h3>Log into an existent account</h3>
    <p>
      <label for="LoginUsername">Username:</label>
      <input type="text" name="LoginUsername"/>
    </p>
    <p>
      <label for="LoginPassword">Password:</label>
      <input type = "password" name="LoginPassword"></input>
    </p>
    
    <p><input type="submit" name="submit_recipe"/></p>
  </form>

  <h2>If you don't have an account, please create an account here:</h2>
  <form action="/" method="POST">
      <h3>Log into an existent account</h3>
      <p>
        <label for="NewUsername">Username:</label>
        <input type="text" name="NewUsername"/>
      </p>
      <p>
        <label for="NewPassword">Password:</label>
        <input type = "password" name="NewPassword"></input>
      </p>
      
      <p><input type="submit" name="submit_recipe"/></p>
    </form>
</body>

</html>