<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokemon Encyclopedia</title>
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>


<body id="mainPage">

    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pokemon</a>

            <div class="collapse navbar-collapse" id="nav-container">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><button
                                class="bg-dark text-white border-0" id="homeButton" type="button"
                                class="btn btn-light"><i class="material-icons">home</i>Home</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button class="bg-dark text-white border-0" id="searchButton"
                                type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#search">
                                <i class="material-icons">search</i> Search</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button class="bg-dark text-white border-0" id="addButton"
                                type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add">
                                <i class="material-icons">add</i> Add</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button class="bg-dark text-white border-0" id="updateButton"
                                type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#update">
                                <i class="material-icons">update</i> Update</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button class="bg-dark text-white border-0" id="deleteButton"
                                type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#delete">
                                <i class="material-icons">delete</i> Delete</button></a>
                    </li>
                </ul>

                <div class="nav-item dropdown text-white">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="material-icons">settings</i>Setting</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" id="logOutButton">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="con" id="main">



    </div>

    <!-- search modal -->
    <div class="modal fade" id="search" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Search</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select" aria-label="Select Search" id="selectSearch">
                        <option selected disabled>Select Category</option>
                        <option value="name-form">Name</option>
                        <option value="type">Type</option>
                        <option value="data_species">Species</option>
                    </select>
                    <div class="mb-3">
                        <label for="condition" class="form-label">Conitions</label>
                        <input type="text" class="form-control" id="condition">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light" id="searchBtn" data-bs-dismiss="modal">Search</button>
                </div>
            </div>
        </div>
    </div>

    <!-- add modal -->
    <div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sign Up</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="name-form" class="col-form-label">name</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="name-forn" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="type_1" class="col-form-label">type1</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="type_1" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="type_2" class="col-form-label">type2</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="type_2" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="type_1" class="col-form-label">type1</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="type_1" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="link" class="col-form-label">link</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="link" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="species" class="col-form-label">species</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="species" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="height" class="col-form-label">height</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="height" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="weight" class="col-form-label">weight</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="weight" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="abilities" class="col-form-label">abilities</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="abilities" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="training_catch_rate" class="col-form-label">training_catch_rate</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="training_catch_rate" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="training_base_exp" class="col-form-label">training_base_exp</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="training_base_exp" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="training_growth_rate"
                                        class="col-form-label">training_growth_rate</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="training_growth_rate" class="form-control">
                                </div>
                            </div>
                        </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- update modal -->
    <div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete modal -->
    <div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="deleteInput" class="form-label">name-form</label>
                        <input type="text" class="form-control" id="deleteInput">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light" id="deleteBtn">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="{{script}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>