body{
    padding: 0px;
    border: 0px;
}


#indexImgContainer, #loginButtonContainer, #indexPage{
    text-align: center;
}
#main{
    margin-top: 0vh;
    width: 100vw;
    text-align: center;
}
.con{
    width: 98vw;
}
.picContainer{
    margin-inline: 1vw;
    margin-top:10px;
    text-align: center;
    width:14vw;
}

.picContainer > img{
 height: 20vh;
 /* width: 11vw; */
}

#detailPage img{
    height: 50vh;
}

#detailPage row{
}
.getPage{
    margin-top: 70px;
    margin-bottom: 0px;
}
.modal-body .picContainer{
    width: 50%;
}